html,
body {
  font-family: 'Lucien', sans-serif;
  background: black;
  height: 100%;
}

@font-face {
  font-family: 'Lucien';
  src: url('../fonts/lucien_regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #44F485;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
